{% extends "base.html" %}
{% block title %}Выход : {% endblock %}
{% block title_page %} - Выход{% endblock %}
{% block maincontent %}
<div class="good">
<h1>Выход</h1>
Спасибо, что были с нами. Ждем вас снова
</div>
{% endblock %}