{% extends "base.html" %}
{% block title %}Регистрация : {% endblock %}
{% block title_page %} - Регистрация{% endblock %}
{% block maincontent %}
<div class="good">
<h1>Регистрация</h1>
<form method="post" action="">
<dl class="register">
{% for field in form %}
    <dt>{{ field.label_tag }}</dt>
    <dd class="clearfix">{{ field }}
    {% if field.help_text %}<div class="clearfix">{{ field.help_text }}</div>{% endif %}
    {% if field.errors %}<div class="myerrors clearfix">{{ field.errors }}</div>{% endif %}
    </dd>
{% endfor %}
</dl>
<input type="submit" value="Зарегистрироваться"  class="clearfix">
</form>
</div>
{% endblock %}