﻿{% load i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 4.01 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>{% block title %}{% trans "Main" noop %}{% endblock %}::Argus</title>
<meta name="keywords" content="{% block keywords %}{% endblock %}" />
<meta name="description" content="{% block description %}{% endblock %}" />
<link href="{{ MEDIA_URL }}styles/{{ settings.THEME }}/descstyle.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-1.4.2.min.js"></script>
{% block extendethead %}{% endblock %}
</head>
<body>
<div class="page-head">
<table align="center" class="maintable">
    <tr>
        <td class="navigation">
        {% block navigation %}{% endblock %}
        </td>
    </tr>
</table>
</div>
<table align="center" class="maintable">    
    <tr>
        <td class="head">
        </td>
    </tr>
    <tr>
        <td>
<div id="main"><div id="tomain">
{% block maincontent %}
{% endblock %}
{% block extendetjs %}{% endblock %}
</div></div>        
        </td>
    </tr>    
</table>
<div id="entry-doc" ><a href="{% url descwiki_list %}">Начало</a></div>
</body>
</html>