﻿{% extends "desc/base.html" %}
{% load i18n %}
{% block title %}{% trans "Документация" noop %}{% endblock %}
{% block extendethead %}{% endblock %}
{% block navigation %}
<p>
<span class="text_navigation">{% trans "Документация" noop %}</span>
<p>
{% endblock %}
{% block maincontent %}
{% if query.root %}
	{% for node, count in query.nodes %}
        {% include "desc/category_item.html" %}
    {% endfor %}	
{% else %}
	{% for node, count in query.nodes %}
        {% include "desc/category_item.html" %}
    {% endfor %}
{% endif %}
{% endblock %}
