{% extends "desc/base.html" %}
{% load i18n %}
{% load thumbnail %}

{% block title %}{% trans "Документация" noop %}{% endblock %}
{% block extendethead %}
<!--<link href="{{ MEDIA_URL }}styles/ui/argus/jquery-ui-1.8.custom.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{{ MEDIA_URL }}js/faqch.js"></script>-->
<script type="text/javascript" src="{{ MEDIA_URL }}js/jcarusel/lib/jquery.jcarousel.pack.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/jcarusel/lib/thickbox/thickbox.js"></script>
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}js/jcarusel/lib/jquery.jcarousel.css" />
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}js/jcarusel/lib/thickbox/thickbox.css" />
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}styles/jcarusel/skins/tango/skin.css" />
{% endblock %}

{% block navigation %}
<p>
<span class="link_navigation"><a href="{% url descwiki_list %}" class="">{% trans "Документация-" noop %}</a></span>
<span class="text_navigation">{% trans query.name noop %}</span>
</p>
{% endblock %}
{% block maincontent %}
{% if query %}
<table>
    <tr>
    {% if picts %}
        <td id="doc_image">
<script type="text/javascript">
// Set thickbox loading image
tb_pathToImage = "{{ MEDIA_URL }}styles/jcarusel/images/loading-thickbox.gif";
var mycarousel_itemList = [
    {% for pict in picts %}
        {% thumbnail pict.photo 750x750 autocrop as bigimage %}        
        {% thumbnail pict.photo 125x125 autocrop as thumbimage %}
        {url: "{{ thumbimage }}", w: '{{ thumbimage.width }}', h: '{{ thumbimage.height }}', title: "{{ pict.name }}", big_url: "{{ bigimage }}"},
    {% endfor %}
];    
function mycarousel_itemLoadCallback(carousel, state)
{
    for (var i = carousel.first; i <= carousel.last; i++) {
        if (carousel.has(i)) {
            continue;
        }
        if (i > mycarousel_itemList.length) {
            break;
        }
        // Create an object from HTML
        var item = jQuery(mycarousel_getItemHTML(mycarousel_itemList[i-1])).get(0);

        // Apply thickbox
        tb_init(item);

        carousel.add(i, item);
    }
};
/**
 * Item html creation helper.
 */
function mycarousel_getItemHTML(item)
{
    //var url_m = item.url.replace(/_s.jpg/g, '_m.jpg');    
    return '<a href="' + item.big_url + '" title="' + item.title + '"><img src="' + item.url + '" border="0" width="'+item.w+'" height="'+item.h+'" alt="' + item.title + '" /></a>';
};
jQuery(document).ready(function() {
    jQuery('#mycarousel').jcarousel({
        size: mycarousel_itemList.length,
        itemLoadCallback: {onBeforeAnimation: mycarousel_itemLoadCallback},
        vertical: true,
        animation:"slow",
        auto:1,        
    });
});
</script>
    <!--<div id="dialog" title=""><img id="big_img" src=""></div><br>-->    
    <ul id="mycarousel" class="jcarousel-skin-tango">
    <!-- The content will be dynamically loaded in here -->
    </ul>   
        </td>
    {% endif %}
        <td id="doc_content">               
            <h2 class="text_navigation">{{ query.name }}</h2>
            <div><span>{{query.by_date}}</span></div>	    
            <div>{{ query.content|urlize }}</div>
        </td>
    </tr>
</table>
{% endif %}
{% endblock %}
{% block extendetjs %}
{% endblock %}