#djangoForumThreadList TH{
	height: 27px;
	border-color: #FAFAE0;
	border-style: solid;
	border-width: 2px;
	#border-right-style: none;
	#border-left-style: none;
	background-color: #EBF0BA;	
}

#djangoForumThreadList TD{
	height: 27px;
	border-color: #F1EFE0;
	border-style: solid;
	border-width: 1px;			
}

#djangoForumThreadList TD A{			
	padding-left:  5px;
	color: black;
	text-decoration: underline;
	font-weight: bold;
	font-family: verdana;
	font-size: 11px;			
}
#djangoForumThreadList TD A:hover{
	text-decoration: none;
	color:#767676;
}

#djangoForumThreadList TD A:visited{
	color:#767676;
}

#djangoForumThreadPosts TH{	
	border-color: #FAFAE0;
	border-style: solid;
	border-width: 1px;
	#border-right-style: none;
	#border-left-style: none;
	#background-color: #EBF0BA;
	text-align: left;
	padding-left:5px;
	width:170px	
}

#djangoForumThreadPosts TD{
	height: 27px;
	border-color: #F1EFE0;
	border-style: solid;
	border-width: 1px;			
}

#djangoForumThreadPosts TD A{			
	padding-left:  5px;
	color: black;
	text-decoration: underline;
	font-weight: bold;
	font-family: verdana;
	font-size: 11px;			
}
#djangoForumThreadPosts TD A:hover{
	text-decoration: none;
	color:#767676;
}

#djangoForumThreadPosts TD A:visited{
	color:#767676;
}

#djangoForumList TH{	
	border-color: #C0C0C0;
	border-style: solid;
	border-width: 1px;
	#border-right-style: none;
	#border-left-style: none;
	#background-color: #EBF0BA;
	text-align: left;
	padding-left:5px;
	width:170px	
}

#djangoForumList TD{
	height: 27px;
	border-color: #C0C0C0;
	border-style: solid;
	border-width: 1px;			
}

#djangoForumList TD A{			
	padding-left:  5px;
	color: black;
	text-decoration: underline;
	font-weight: bold;
	font-family: verdana;
	font-size: 11px;			
}
#djangoForumList TD A:hover{
	text-decoration: none;
	color:#767676;
}

#djangoForumList TD A:visited{
	color:#767676;
}
.djangoForumListLastPost{
	#width: 150px;
}
.djangoForumListDetails{
	width: 80%;
}