﻿{% load i18n %}
{% load help_menu %}
{% load last_news %}
{% load last_reviews %}
{% load online %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 4.01 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>{% block title %}{% trans "Main" noop %}{% endblock %}::Argus</title>
<meta name="keywords" content="{% block keywords %}{% endblock %}" />
<meta name="description" content="{% block description %}{% endblock %}" />
<link href="{{ MEDIA_URL }}styles/{{ settings.THEME }}/style.css" rel="stylesheet" type="text/css" />

<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-ui-1.8.custom.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.cookie.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.timers-1.2.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/rightmenu.js"></script>
{% block extendethead %}{% endblock %}
</head>
<body>
<script>
//$('#{{link}}}}').attr('class', 'menu_button');
</script>
<table class="main" align="center">
	<tr>
		<td >
		<img src="{{ MEDIA_URL }}styles/{{ settings.THEME }}/images/logo.png" />
		</td>
	</tr>
	<tr>
		<td class="head">
		</td>
	</tr>
	<tr>
		<td class="mainmenu">
		<table class="" cellpadding="0" cellspacing="0">
			<tr>								
				<td class="{% ifequal link 'about' %}menu_button_event{% else %}menu_button{% endifequal %}">
				<a href="{% url about %}" id="about">{% trans "О продукте" noop %}</a>
				</td>
				<td class="{% ifequal link 'faq' %}menu_button_event{% else %}menu_button{% endifequal %}">
				<a href="{% url faq_list %}" id="key">Поддержка</a>
				</td>
				<td class="{% ifequal link 'demo' %}menu_button_event{% else %}menu_button{% endifequal %}">
				<a href="{% url load_list %}" id="demo">СкачатьDemo</a>
				</td>
				<td class="{% ifequal link 'news' %}menu_button_event{% else %}menu_button{% endifequal %}">
				<a href="{% url news_list %}" id="news">{% trans "Новости" noop %}</a>
				</td>
				<td class="{% if link %}menu_button{% else %}menu_button_event{% endif %}">
				<a href="{% url forum_index %}" id="forum">Форум</a>
				</td>
				<td class="{% ifequal link 'reviews' %}menu_button_event{% else %}menu_button{% endifequal %}">
				<a href="{% url reviews_list %}" id="answer">Отзывы</a>
				</td>
				<td class="{% ifequal link 'company' %}menu_button_event{% else %}menu_button{% endifequal %}">
				<a href="{% url company %}" id="flaps">{% trans "О компании" noop %}</a>
				</td>
				<td class="{% ifequal link 'contacts' %}menu_button_event{% else %}menu_button{% endifequal %}">
				<a href="{% url contacts %}" id="contacts">Контакты</a>
				</td>
			</tr>
		</table>	
		</td>
	</tr>
	<tr>
		<td class="navigation">			
			{% block navigation %}
			<p><span class="link_navigation"><a href="#" class="">Home-></a></span> <span class="text_navigation">About</span><p>
			{% endblock %}
		</td>
	</tr>
	<tr>
		<td class="content">
			<table class="content">
				<tr>
					<td class="maincontent">
						<table>
							<tr>
								<td class="maincontent_head">
								<div id="uonline">
								{% load_users_online staff as stafs %}
								{% if stafs %}
								{% for st in stafs %}
									{{ st.name }}, 
								{% endfor %}
								{% else %}
									no users
								{% endif %}
								</div>
								</td>
							</tr>
							<tr>
								<td class="main">
									{% block maincontent %}									
									<h2 class="entry-title single-entry-title"><a href="#">О компании</a></h2>
									{% endblock %}									
								</td>
							</tr>
						</table>						
					</td>
					{% block rightcontent %}
					<td class="rightmenu">						
						<div id="accordion">
  							<h3 class="point"><a href="#" id="docs">Документация</a></h3>
  							{% load_category_child 0 as catwiki %}
				  			<ul class="right_menu_point">
    							{% for c, count in catwiki %}										
									<li><a href="{% url help_list c.id %}" class="open">{{ c.name }}</a> [{{ count }}]</li>
								{% endfor %}								
  							</ul>
  							
  							
  							<h3 class="point"><a href="#" id="answer">Отзывы</a></h3>
  							{% load_last_review 5 as lastreviews %}
						  	<ul class="right_menu_point">
						    {% for lr in lastreviews %}
						  		<li>	
							    <div class="last_news">								  
								  {{ lr.text|truncatewords:10 }}<br/><br/>								  
							  	</div>
							  	</li>
						  	{% endfor %}
						  	</ul>
  							
  							
  							<h3 class="point"><a href="#" id="news">Новости</a></h3>
  							{% load_last_news 5 as lastnews %}
						  	<ul class="right_menu_point">
						  	{% for ln in lastnews %}
						  	   <li>	
							   <div class="last_news">
								  <h6>{{ ln.name|truncatewords:3 }}</h6>
								  {{ ln.text|truncatewords:10 }}<br>
								  <a href="{% url news_show ln.id %}">Подробнее</a>
							  	</div>
							  	</li>
						  	{% endfor %}
						  	</ul>						  							  						  	
						</div>												
					</td>
					{% endblock %}
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td class="under">
<div id="BottomBackground">
		<div id="TextBottomLeft">
		<strong>Наш адрес: <br /> Воронежская обл., г. Борисоглебск, ул. 40 лет Октября, 309/187</strong>
		</div>
		<div id="TextBottomRight">					
			<div id="TextBottomContact">
				<strong>
				E-mail: 
				<script type="text/javascript">t='.ru';document.write("<a href='mailto:bo" + "ss@fl"+"aps"+t+"'>b" + "oss@f"+"laps"+t+"</a>");</script>
				<br />
				Телефон: 8 (47354) 5-18-58
				</strong>
			</div>			
			<div id="BlockBottomRight">				
				<div id="CountBottomLeft">
					<!--LiveInternet logo--><!--/LiveInternet-->
				</div>					
				<div id="CountBottomRight">
					<!--Rating@Mail.ru logo--><!--// Rating@Mail.ru logo-->
				</div>				
			</div>			
		</div>
</div>
<div id="BottomImage">
		<div id="TextBottomLeft">
		2006-2009 Copyright © Flaps LLC. All rights reserved.
		</div>
</div>   

		</td>
	</tr>
</table>
<script type="text/javascript" src="{{ MEDIA_URL }}js/buttonevent.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/faqch.js"></script>
{% block extendetjs %}{% endblock %}
</body>
</html>