<div style="margin-left: {{ node.get_depth }}em;" class="itemdoc" id="comment_{{ node.id }}">               
        <div>
          {% ifequal node.get_depth 1 %}
            <a href="{% url wiki_showdocs node.id %}" class="open" >{{ node.name }}</a> [{{ count }}]            
            <div>{{ node.content }}</div>            
          {% else %}
            <a href="{% url wiki_showdocs node.id %}" class="open" >{{ node.name }}</a> [{{ count }}]            
            <div>{{ node.content }}</div>            
          {% endifequal %}
          {% comment %}
		  {% if not query.root %}
            <a href="#reply-form" class="reply-link"
               id="reply-{{ node.id }}">reply!</a>
          {% endif %}
          (<a href="{{ node.get_absolute_url }}delete/">delete</a>)
          {% endcomment %}
        </div>
</div>