{% extends "base.html" %}
{% load i18n %}
{% load pagination_tags %}

{% block title %}{% trans "FAQ" noop %}{% endblock %}
{% block extendetjs %}<script type="text/javascript" src="{{ MEDIA_URL }}js/reviewshow.js"></script>{% endblock %}

{% block navigation %}
<p><span class="link_navigation"><a href="{% url about %}" class="">{% trans "Главная->" noop %}</a></span> <span class="text_navigation">{% trans "Поддержка" noop %}</span><p>
{% endblock %}

{% block maincontent %}
{% if query %}

{% autopaginate query settings.FAQSPAGE %}

<div id="review_accordion">
{% for n in query %}
    <h3 class="review-title single-entry-title" style="cursor:pointer;" >{{ n.quest }}</h3>        
    <form id="form_{{ n.id }}" class="text_review">{{ n.text|urlize }} <br/> ({{ n.user }})</form>	
{% endfor %}
</div>				

{% comment %}
{% for n in query %}
	<h2 class="review-title single-entry-title" id="{{ n.id }}" style="cursor:pointer;">
        <img src="{{ MEDIA_URL }}styles/{{ settings.THEME }}/images/add.png">
        <img src="{{ MEDIA_URL }}styles/{{ settings.THEME }}/images/hide.png">
        {{ n.quest|truncatewords:20 }}
    </h2>            
    <form id="form_{{ n.id }}" style="display:none;" class="text_review">{{ n.text|urlize }} <br/> ({{ n.user }})</form>	
{% endfor %}
{% endcomment %}

{% paginate %}
{% else %}
    {% trans "Quests not found" noop %}
{% endif %}<br>
<form method="post" action="">
{% for field in form %}
    <dt>{{ field.label_tag }}</dt>
    <dd class="clearfix">{{ field }}
    {% if field.help_text %}<div class="clearfix">{{ field.help_text }}</div>{% endif %}
    {% if field.errors %}<span class="errors">{{ field.errors }}</span>{% endif %}
    </dd>
{% endfor %}
<input type="submit" value="Сохранить"  class="clearfix">
</form>
{% endblock %}