{% extends "base.html" %}
{% load i18n %}
{% load pagination_tags %}

{% block title %}{% trans "Скачать" noop %}{% endblock %}

{% block navigation %}
<p><span class="link_navigation"><a href="{% url about %}" class="">{% trans "Главная->" noop %}</a></span> <span class="text_navigation">{% trans "Скачать" noop %}</span><p>
{% endblock %}

{% block maincontent %}
{% if query %}

{% autopaginate query 10 %}
{% for n in query %}
    <h2 class="load-title single-entry-title"><a href="{{ MEDIA_URL }}{{n.file}}">{{ n.name }}</a></h2>	
    {{ n.text }}    
    <div><span>{{n.by_date}}</span></div>
{% endfor %}
{% paginate %}
{% endif %}
{% endblock %}
