{% extends "base.html" %}
{% load i18n %}
{% load pagination_tags %}

{% block title %}{% trans "Новости" noop %}{% endblock %}

{% block navigation %}
<p><span class="link_navigation"><a href="{% url about %}" class="">{% trans "Главная->" noop %}</a></span> <span class="text_navigation">{% trans "Новости" noop %}</span><p>
{% endblock %}

{% block maincontent %}
{% if query %}

{% autopaginate query settings.NEWSPAGE %}
{% for n in query %}
    <h2 class="entry-title single-entry-title"><a href="{% url news_show n.id %}">{{ n.name }}</a></h2>	
    {{ n.text|truncatewords:50 }}    
    <div><span>{{ n.by_date|date:"D d M Y" }}</span></div>
{% endfor %}
{% paginate %}
{% endif %}
{% endblock %}
