{% extends "base.html" %}
{% load i18n %}
{% load pagination_tags %}

{% block title %}{% trans "Отзывы" noop %}{% endblock %}

{% block navigation %}
<p><span class="link_navigation"><a href="{% url about %}" class="">{% trans "Главная->" noop %}</a></span> <span class="text_navigation">{% trans "Отзывы" noop %}</span><p>
{% endblock %}

{% block maincontent %}
{% if query %}
{% autopaginate query settings.REVIEWPAGE %}
{% for n in query %}    	
    <h2 class="review-title">{{ n.user }}  : {{n.by_date}}</h2>
	{{ n.text|truncatewords:10 }}<br>        
{% endfor %}
{% paginate %}
{% endif %}
{% if user.is_authenticated  %}
<form method="post" action="">
{% for field in form %}   
    <dd class="clearfix">{{ field }}
    {% if field.help_text %}<div class="clearfix">{{ field.help_text }}</div>{% endif %}
    {% if field.errors %}<span class="errors">{{ field.errors }}</span>{% endif %}
    </dd>
{% endfor %}
<input type="submit" value="Отправить"  class="clearfix">
</form>
{% else %}
<form>
Только <a href="{% url registration_register %}">зарегистрированные</a> пользователи могут оставлять отзывы
</form>
{% endif %}
{% endblock %}
