{% extends "base.html" %}
{% load i18n %}
{% load thumbnail %}
{% block title %}{% trans query.name noop %}{% endblock %}
{% block extendethead %}
<script type="text/javascript" src="{{ MEDIA_URL }}js/infinitecarousel/jquery.infinitecarousel.js"></script>
{% endblock %}
{% block navigation %}
<p><span class="link_navigation"><a href="{% url about %}" class="">{% trans "Главная->" noop %}</a></span> <span class="text_navigation">{% trans query.name noop %}</span><p>
{% endblock %}
{% block maincontent %}
<div>
<table>
    <tr>
        <td id="doc_content">                           
            <div>{{ query.text|urlize }}</div>
        </td>        
    {% if query.get_phots %}
        <td id="doc_image">
    <!--<div id="dialog" title=""><img id="big_img" src=""></div><br>-->    
    <div class="jMyCarousel" id="_jMyCarousel_{{ node.id }}">
    <ul id="jMyCarousel_{{ node.id }}">    
        {% for pict in query.get_phots %}
        {% thumbnail pict.photo 750x750 autocrop as bigimage %}
        {% thumbnail pict.photo 300x300 autocrop as thumbimage %}
        {#{url: "{{ thumbimage }}", w: '{{ thumbimage.width }}', h: '{{ thumbimage.height }}', title: "{{ pict.name }}", big_url: "{{ bigimage }}"},#}
        <li><img src="{{ thumbimage }}" width="{{ thumbimage.width }}" height="{{ thumbimage.height }}"/><p>{{ pict.name }}</p></li>
        {% endfor %}
    </ul>       
    </div>
    <script type="text/javascript">
    $('#_jMyCarousel_{{ node.id }}').infiniteCarousel({   
    });
    </script>
    <style>
.jMyCarousel ul {
	list-style: none;
	width:1600px;
	margin: 0;
	padding: 0;
	position:relative;
}
.jMyCarousel li {
	display:inline;
	float:left;
}
    </style>
        </td>
    {% endif %}                
    </tr>
</table>             
</div>

{% if query.contacts %}
{% if form %}
<form method="post" action="">
{% for field in form %}
    <dt>{{ field.label_tag }}</dt>
    <dd class="clearfix">{{ field }}
    {% if field.help_text %}<div class="clearfix">{{ field.help_text }}</div>{% endif %}
    {% if field.errors %}<span class="errors">{{ field.errors }}</span>{% endif %}
    </dd>
{% endfor %}
<input type="submit" value="Отправить"  class="clearfix"/>
</form>
{% endif %}
{% endif %}
{% endblock %}


{% load thumbnail %}
<div style="margin-left: {{ node.get_depth }}em;" class="itemdoc" id="comment_{{ node.id }}">               

</div>
<script type="text/javascript">
/*
$("#_jMyCarousel_{{ node.id }}").jMyCarousel({
		        visible: '1',                                
		    });
alert('fgg');            
*/
$('#_jMyCarousel_{{ node.id }}').infiniteCarousel({
    //transitionSpeed: 200,
    //displayTime : 50000,
});
tb_pathToImage = "{{ MEDIA_URL }}styles/jcarusel/images/loading-thickbox.gif";
/*$('a.lightbox').lightBox({
    overlayOpacity:0.5,
    imageLoading: '{{ MEDIA_URL }}js/jquery-lightbox-0.5/images/lightbox-ico-loading.gif',
    imageBtnClose: '{{ MEDIA_URL }}js/jquery-lightbox-0.5/images/lightbox-btn-close.gif',
    imageBtnPrev: '{{ MEDIA_URL }}js/jquery-lightbox-0.5/images/lightbox-btn-prev.gif',
    imageBtnNext: '{{ MEDIA_URL }}js/jquery-lightbox-0.5/images/lightbox-btn-next.gif',
    imageBtnNext: '{{ MEDIA_URL }}js/jquery-lightbox-0.5/images/lightbox-btn-next.gif',
    txtImage: '{{ node.name }}',
});*/
//$('#_jMyCarousel_{{ node.id }} a').lightBox();
</script>
<style>
.jMyCarousel ul {
	list-style: none;
	width:1600px;
	margin: 0;
	padding: 0;
	position:relative;
}
.jMyCarousel li {
	display:inline;
	float:left;
}
</style>