{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Документация" noop %}{% endblock %}

{% block navigation %}
<p><span class="link_navigation"><a href="{% url about %}" class="">{% trans "Главная->" noop %}</a></span> 
<span class="link_navigation"><a href="{% url wiki_list %}" class="">{% trans "Документация" noop %}</a></span><p>
{% endblock %}
{% block maincontent %}

{% if query.root %}
	{% for node, count in query.nodes %}
        {% include "category_item.html" %}
    {% endfor %}	
{% else %}
	{% for node, count in query.nodes %}
        {% include "category_item.html" %}
    {% endfor %}
{% endif %}
{% endblock %}
