{% extends "forum_base.html" %}
{% load i18n %}

{% block title %}{% blocktrans with forum.title as title %}New Thread in {{ title }}{% endblocktrans %}{% endblock %}

{% block extrahead %}
<link rel="alternate" type="application/rss+xml" title="{{ forum.title }} {% trans "Posts via RSS" noop %}" href="{% url forum_index %}rss/{{ forum.slug }}/" />
<link rel="alternate" type="application/atom+xml" title="{{ forum.title }} {% trans "Posts via ATOM" noop %}" href="{% url forum_index %}atom/{{ forum.slug }}/" />
{% endblock %}

{% block pagetitle %}{% blocktrans with forum.title as title %}New Thread in {{ title }}{% endblocktrans %}{% endblock %}

{% block breadcrumbs %} {% for title, url in forum.get_url_name %}
<span class="link_navigation"><a href="{{ url }}" class="">{{ title }}</a></span>
{% endfor %}
 {% comment %} &raquo; {% trans "New Thread" %}{% endcomment %}
 {% endblock %}


{% block content %}

<h2>Новая тема</h2>
<form method='post' action='./'>
{% if form.errors %}<ul>{{ form.errors.as_ul }}</ul>{% endif %}
<p><label>{% trans "Posting As" %}</label><span>{{ user.username }}</span></p>
{{ form.as_p }}
<p><input type='submit' value='{% trans "Post" %}' /></p>
</form>

{% endblock %}
