{% load thumbnail %}
<div style="margin-left: {{ node.get_depth }}em;" class="itemdoc" id="comment_{{ node.id }}">               
        <div>
        {% comment %}
        "idparent": {{ idparent }}
        "node.parent_id": {{ node.get_parent }}
        "get_children_count": {{ node.get_children_count }}
        
        "get_phots": {{ node.get_phots }}
        {% for pict in node.get_phots %}
            {{ pict.photo }}
        {% endfor %}
        {% endcomment %}
<table>
    <tr>
        <td id="doc_content">               
            <h2 class="entry-title-help">{{ node.name }}</h2>            
            <div>{{ node.content|urlize }}</div>
        </td>        
    {% if node.get_phots %}
        <td id="doc_image">
<script type="text/javascript">
// Set thickbox loading image
tb_pathToImage = "{{ MEDIA_URL }}styles/jcarusel/images/loading-thickbox.gif";
var mycarousel_itemList_{{ node.id }} = [
    {% for pict in node.get_phots %}
        {% thumbnail pict.photo 750x750 autocrop as bigimage %}
        {% thumbnail pict.photo 125x125 autocrop as thumbimage %}
        {url: "{{ thumbimage }}", w: '{{ thumbimage.width }}', h: '{{ thumbimage.height }}', title: "{{ pict.name }}", big_url: "{{ bigimage }}"},
    {% endfor %}
];    
function mycarousel_itemLoadCallback_{{ node.id }}(carousel, state)
{
    for (var i = carousel.first; i <= carousel.last; i++) {
        if (carousel.has(i)) {
            continue;
        }
        if (i > mycarousel_itemList_{{ node.id }}.length) {
            break;
        }
        // Create an object from HTML
        var item_{{ node.id }} = jQuery(mycarousel_getItemHTML_{{ node.id }}(mycarousel_itemList_{{ node.id }}[i-1])).get(0);

        // Apply thickbox
        tb_init(item_{{ node.id }});

        carousel.add(i, item_{{ node.id }});
    }
};
/**
 * Item html creation helper.
 */
function mycarousel_getItemHTML_{{ node.id }}(item_{{ node.id }})
{
    //var url_m = item.url.replace(/_s.jpg/g, '_m.jpg');
    return '<a href="' + item_{{ node.id }}.big_url + '" title="' + item_{{ node.id }}.title + '"><img src="' + item_{{ node.id }}.url + '" border="0" width="'+item_{{ node.id }}.w+'" height="'+item_{{ node.id }}.h+'" alt="' + item_{{ node.id }}.title + '" /></a>';
};
jQuery(document).ready(function() {
    jQuery('#mycarousel_{{ node.id }}').jcarousel({
        size: mycarousel_itemList_{{ node.id }}.length,
        itemLoadCallback: {onBeforeAnimation: mycarousel_itemLoadCallback_{{ node.id }}},
        vertical: true,        
        animation:"slow",
        auto:1
    });
});
</script>
    <!--<div id="dialog" title=""><img id="big_img" src=""></div><br>-->    
    <ul id="mycarousel_{{ node.id }}" class="jcarousel-skin-tango">    
    </ul>   
        </td>
    {% endif %}                
    </tr>
</table>        
{% comment %}
          {% ifequal node.get_depth 1 %}                    
            <h2 class="entry-title-help">{{ node.name }}</h2> 
            {{ node.get_children_count }}<br>
            <div>{{ node.content|urlize }}</div>            
          {% else %}                        
            <h2 class="entry-title-help">{{ node.name }}</h2> 
            {{ node.get_children_count }}<br>
            <div>{{ node.content|urlize }}</div>            
          {% endifequal %}          
{% endcomment %}          
        </div>
</div>