<div style="margin-left: {{ node.get_depth }}em;" class="itemdoc" id="comment_{{ node.id }}">               
        <div>
          {% ifequal node.get_depth 1 %}
            <a href="{% url help_list node.id %}" class="open" >{{ node.name }}</a> [{{ count }}]
            {{ node.get_children_count }}<br>
          {% else %}
            <a href="{% url help_list node.id %}" class="open" >{{ node.name }}</a> [{{ count }}]                        
            {{ node.get_children_count }}<br>
          {% endifequal %}          
        </div>
</div>