{% load thumbnail %}
<div style="margin-left: {{ node.get_depth }}em;" class="itemdoc" id="comment_{{ node.id }}">               
        <div>
<table>
    <tr>
        <td id="doc_content">               
            <h2 class="entry-title-help">{{ node.name }}</h2>            
            <div>{{ node.content|urlize }}</div>
        </td>        
    {% if node.get_phots %}
        <td id="doc_image">
    <!--<div id="dialog" title=""><img id="big_img" src=""></div><br>-->    
    <div class="jMyCarousel" id="_jMyCarousel_{{ node.id }}">
    <ul id="jMyCarousel_{{ node.id }}">    
        {% for pict in node.get_phots %}
        {% thumbnail pict.photo 750x750 autocrop as bigimage %}
        {% thumbnail pict.photo 300x300 autocrop as thumbimage %}
        {#{url: "{{ thumbimage }}", w: '{{ thumbimage.width }}', h: '{{ thumbimage.height }}', title: "{{ pict.name }}", big_url: "{{ bigimage }}"},#}
        <li><a href="{{ bigimage }}" title="{{ pict.name }}" class="thickbox" rel="gallery-plants"><img src="{{ thumbimage }}" width="{{ thumbimage.width }}" height="{{ thumbimage.height }}"/></a><p>{{ pict.name }}</p></li>
        {% endfor %}
    </ul>       
    </div>
        </td>
    {% endif %}                
    </tr>
</table>        
     
        </div>
</div>
<script type="text/javascript">
/*
$("#_jMyCarousel_{{ node.id }}").jMyCarousel({
		        visible: '1',                                
		    });
alert('fgg');            
*/
$('#_jMyCarousel_{{ node.id }}').infiniteCarousel({
    //transitionSpeed: 200,
    //displayTime : 50000,
});
tb_pathToImage = "{{ MEDIA_URL }}styles/jcarusel/images/loading-thickbox.gif";
/*$('a.lightbox').lightBox({
    overlayOpacity:0.5,
    imageLoading: '{{ MEDIA_URL }}js/jquery-lightbox-0.5/images/lightbox-ico-loading.gif',
    imageBtnClose: '{{ MEDIA_URL }}js/jquery-lightbox-0.5/images/lightbox-btn-close.gif',
    imageBtnPrev: '{{ MEDIA_URL }}js/jquery-lightbox-0.5/images/lightbox-btn-prev.gif',
    imageBtnNext: '{{ MEDIA_URL }}js/jquery-lightbox-0.5/images/lightbox-btn-next.gif',
    imageBtnNext: '{{ MEDIA_URL }}js/jquery-lightbox-0.5/images/lightbox-btn-next.gif',
    txtImage: '{{ node.name }}',
});*/
//$('#_jMyCarousel_{{ node.id }} a').lightBox();
</script>
<style>
.jMyCarousel ul {
	list-style: none;
	width:1600px;
	margin: 0;
	padding: 0;
	position:relative;
}
.jMyCarousel li {
	display:inline;
	float:left;
}
</style>