{% extends "base.html" %}
{% load i18n %}
{% block extendethead %}
<!--<link href="{{ MEDIA_URL }}styles/ui/argus/jquery-ui-1.8.custom.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{{ MEDIA_URL }}js/faqch.js"></script>-->
{% comment %}
<script type="text/javascript" src="{{ MEDIA_URL }}js/jcarusel/lib/jquery.jcarousel.pack.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/jcarusel/lib/thickbox/thickbox.js"></script>
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}js/jcarusel/lib/jquery.jcarousel.css" />
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}js/jcarusel/lib/thickbox/thickbox.css" />
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}styles/jcarusel/skins/tango/skin.css" />

<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}styles/jMyCarousel/jMyCarousel.css" />
<script type="text/javascript" src="{{ MEDIA_URL }}js/jMyCarousel.js"></script>

<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-lightbox-0.5/js/jquery.lightbox-0.5.pack.js"></script>
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}js/jquery-lightbox-0.5/css/jquery.lightbox-0.5.css" />
{% endcomment %}
<script type="text/javascript" src="{{ MEDIA_URL }}js/infinitecarousel/jquery.infinitecarousel.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/jcarusel/lib/thickbox/thickbox.js"></script>
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}js/jcarusel/lib/thickbox/thickbox.css" />

{% endblock %}
{% block title %}{% trans "Документация" noop %}{% endblock %}

{% block navigation %}
<p><span class="link_navigation"><a href="{% url about %}" class="">{% trans "Главная->" noop %}</a></span> 
<span class="link_navigation"><a href="{% url help_list %}" class="">{% trans "Документация" noop %}</a></span><p>
{% endblock %}
{% block maincontent %}

{% if query.root %}
	{% for node, count in query.nodes %}
        {% ifequal 0 node.get_children_count %}            
            {% include "help/jmycarusel_help_item.html" %}
        {% else %}
            {% include "help/category_item.html" %}
        {% endifequal %}
    {% endfor %}	    
{% else %}
	{% for node, count in query.nodes %}
        {% ifequal 0 node.get_children_count %}
            {% include "help/jmycarusel_help_item.html" %}  
        {% else %}
            {% include "help/category_item.html" %}
        {% endifequal %}
    {% endfor %}	    
{% endif %}
{% endblock %}
