{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Документация" noop %}{% endblock %}

{% block navigation %}
<p>
<span class="link_navigation"><a href="{% url about %}" class="">{% trans "Главная->" noop %}</a></span>
<span class="link_navigation"><a href="{% url wiki_list %}" class="">{% trans "Документация->" noop %}</a></span>
{% if parent %}
<span class="text_navigation">{{ parent.name }}</span>
{% endif %}
<p>
{% endblock %}
{% block maincontent %}
{% if query %}
<ul class="doc_ul">
{% for n in query %}        	
    <li>
    {% if n.name %}
    <a href="{% url wiki_show n.id %}">{{ n.name }}</a>
    <div>{{ n.content|urlize|truncatewords:20 }}</div>    
    {% else %}
    <div>{{ n.content|urlize|truncatewords:20 }}</div>
    <a href="{% url wiki_show n.id %}">Далее</a>
    {% endif %}
    </li>
{% endfor %}
</ul>
{% else %}
Страница не готова
{% endif %}
{% endblock %}
