{% load i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>{% block title %}{% trans "Main" noop %}{% endblock %}::Argus</title>
<meta name="keywords" content="{% block keywords %}{% endblock %}" />
<meta name="description" content="{% block description %}{% endblock %}" />
<link href="{{ MEDIA_URL }}style.css" rel="stylesheet" type="text/css" />
</head>
<body>
<hr>
<a href="{% url about %}">{% trans "About" noop %}</a>
&nbsp;<a href="{% url company %}">{% trans "About company" noop %}</a>

&nbsp;<a href="{% url news_list %}">{% trans "News" noop %}</a>
{#&nbsp;<a href="{% url demo %}">{% trans "Demo" noop %}</a>#}	
{#&nbsp;<a href="{% url faq_list %}">{% trans "FAQ" noop %}</a>#}
{#&nbsp;<a href="{% url wiki_root %}">{% trans "Wiki" noop %}</a>#}
{#&nbsp;<a href="{% url forum_index %}">{% trans "Forum" noop %}</a>#}

<hr>
{% if user.is_authenticated %}
{#<a href="{% url about %}">{% trans "Main page" noop %}</a>#}
<hr>
{% endif %}
<hr>
{% block navigation %}{% endblock %}
<hr>
{% block maincontent %}

{% endblock %}
</body>
</html>
