{% extends "base.html" %}
{% load i18n %}
{% load pagination_tags %}

{% block title %}{% trans "FAQ" noop %}{% endblock %}

{% block navigation %}
<a href="{% url about %}">{% trans "Home" noop %}</a> - {% trans "FAQ" noop %}
{% endblock %}

{% block maincontent %}
{% if query %}

{% autopaginate query 2 %}
{% for n in query %}
    {{ n.name }} | {{n.by_date}}<br>
    {{ n.text|truncatewords:20 }}<br>
    {#<a href="{% url news_show n.id %}">{% trans "More" noop %}</a>#}
<hr>
{% endfor %}
<hr>
{% paginate %}
{% else %}
    {% trans "Quests not found" noop %}
{% endif %}
{% endblock %}