{% extends "base.html" %}
{% load pagination_tags %}
{% load i18n %}
{% block title %}{% trans "List places: " noop %} {{ query.name }}{% endblock %}
{% block maincontent %}
    {% autopaginate query 2 %}
        {% if query %}
            {% for p in query %}
                {{ p.user }} - {{ p.by_date }}<br>{{ p.do }}<hr><br><br>
            {% endfor %}
        {% else %}
            <li>{% trans 'Sorry, not find for this query.' noop %}</li>
        {% endif %}
        {{ debug }}
        <hr>
        {% paginate %}
    {% endblock %}
