{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "New place" noop %}{% endblock %}
{% block newplace_form %}
<form id="newplace-form" method="post" action="{% url new_place %}">
  {% for field in form_new_place %}
    <dt>{{ field.label_tag }}</dt>
    <dd class="clearfix">{{ field }}
    {% if field.help_text %}<div class="clearfix">{{ field.help_text }}</div>{% endif %}
    {% if field.errors %}<div class="myerrors clearfix">{{ field.errors }}</div>{% endif %}
    </dd>
  {% endfor %}
  {{ form_new_place.message.errors.as_ul }}
<p><input type="submit" value="Submit"></p>
</form>
{% endblock %}

{% block maincontent %}
{% endblock %}