{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Search results for:" noop %} {{ query.name }}{% endblock %}
{% block search_form %}
<form id="search-form" method="post" action="{% url search_place %}">
  {% for field in form_search %}
    <dt>{{ field.label_tag }}</dt>
    <dd class="clearfix">{{ field }}
    {% if field.help_text %}<div class="clearfix">{{ field.help_text }}</div>{% endif %}
    {% if field.errors %}<div class="myerrors clearfix">{{ field.errors }}</div>{% endif %}
    </dd>
  {% endfor %}
  <input type="submit" value="{% trans "Search" noop %}">
</form>
{% endblock %}
{% block maincontent %}
{{ form_search.message.errors.as_ul }}
{% if query %}
    {% for p in query %}
        {{ p.user }} - {{ p.by_date }}<br>{{ p.do }}<hr>
    {% endfor %}
{% else %}
    <li>{% trans 'Sorry, not find for this query.' noop %}</li>
{% endif %}
{{ debug }}
{% endblock %}