BODY{
    #background-color: #FAFAE0;
    padding:0px;
    margin:0;
}
TABLE, TD, IMG{
	padding: 0px;
	border: 0px;
	border-collapse: collapse;
}

A, .text_navigation{
	-x-system-font:none;	    
	font-family:normal Verdana,Tahoma,sans-serif;
	font-size:15px;
	font-size-adjust:none;
	font-stretch:normal;
	font-style:normal;
	font-variant:normal;	
	line-height:118%;
    font-weight:bold;
    color:#346F97;
}

A:visited{
	color:#969696;    
}
A:hover{
	text-decoration: none;
    color:#346F97;
}
.text_navigation{
    text-decoration: none;
}


FORM{
	#background-color: #FAFAE0;
	border-color: #D2D8A8;
	border-width: 1px;
	border-style: solid;
	padding:10px	
}
FORM label{
	-x-system-font:none;
	color:#767676;
	font-family:normal Verdana,Tahoma,sans-serif;
	font-size:14px;
	font-size-adjust:none;
	font-stretch:normal;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;		
	padding-left:10px;		
}

FORM span{
	-x-system-font:none;
	color:black;
	font-family:normal Verdana,Tahoma,sans-serif;
	font-size:14px;
	font-size-adjust:none;
	font-stretch:normal;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;		
	padding-left:10px;		
}
FORM .errors{
	-x-system-font:none;
	color:#FF6600;
	font-family:normal Verdana,Tahoma,sans-serif;
	font-size:14px;
	font-size-adjust:none;
	font-stretch:normal;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;		
	#padding-left:10px;		
}

FORM input, textarea{
	#background-color: #EBF0BA;
	border-color: #D2D8A8;
	border-width: 1px;
	border-style: solid;
	padding:5px;
	#height: 27px;
	
}

.main{
	width: 1000px;
}
.page-head{
	width: 100%;
	height: 47px;
	background: url(images/docnavigation_bg.jpg) repeat-x;
	#padding-top: 26px;
	vertical-align: bottom;	
	
	border-color: #D2D8A8;
	border-style: outset;
	border-width: 1px;
	border-top-style: none;
	border-bottom-style: none;
    margin-bottom:10px;
	
}

.maintable{
    width:950px;
}


.navigation{	
	height: 47px;	
	vertical-align: bottom;		
	
}
.navigation .shade{
	background-image: url(images/mainmenu_shade.jpg);
	height: 22px;
	width: 100%;
}

.navigation P{
	padding-top:0px;
	padding-bottom: 0px;
	margin: 0px;
}
.navigation .link_navigation A{
	font-family: verdana;
	font-size: 15px;
	font-weight: bold;
	color: black;
	text-decoration: none;  
}
.navigation .link_navigation{
	-moz-border-radius: 5px;
    -moz-border-radius-bottomright:0px;
    -moz-border-radius-bottomleft:0px; 
    #background-color:#dcf5b0;
    background-color:#eaf0ba;
	padding-left: 5px;
	padding-right: 5px;
    padding-top:5px;
    padding-bottom:2px;
    border-color: #E8EDC2; 
	border-style: solid;
	border-width: 1px;
	border-bottom-style: none;	
}


.navigation .text_navigation{ 	
    -moz-border-radius: 5px;
    -moz-border-radius-bottomright:0px;
    -moz-border-radius-bottomleft:0px;
    #background-image: url(images/navigation_text.gif);
	background-color: white;
	#height: 22px;
	padding-left: 10px;  
	padding-right: 10px;  
 	font-family: verdana;
 	font-size: 15px;
 	font-weight: bold;
    padding-top:5px;
    padding-bottom:2px;
    border-color: #E8EDC2; 
	border-style: solid;
	border-width: 1px;
	border-bottom-style: none;	
} 



.head{
	background: url('images/maincontent_head.jpg') top left repeat-x;
	width: 97%;
	height: 31px;
	margin-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	
	border-color: #E8EDC2; 
	border-style: outset;
	border-width: 1px;
	border-bottom-style: none;	
}

#main{    	
	background-color: #FFFEF9;
	#margin-top:20px;
	border-style: solid;
    border-top-style:none;
	border-width: 1px;
	border-color: #D2D8A8;    
}
#main #tomain{
    padding: 10px;
    padding-bottom:30px;
    #background: url('images/logo.png') bottom right no-repeat;
}

.doc_ul A{
    font-weight:bold;
    color:#346F97;
}

.itemdoc A, #entry-doc A{
	-x-system-font:none;	    
	font-family:normal Verdana,Tahoma,sans-serif;
	font-size:15px;
	font-size-adjust:none;
	font-stretch:normal;
	font-style:normal;
	font-variant:normal;	
	line-height:118%;
    font-weight:bold;
    color:#346F97;
}

.itemdoc A:visited, #entry-doc A:visited{
	color:#969696;    
}
.itemdoc A:hover, #entry-doc A:hover{
	text-decoration: none;
    color:#346F97;
}
.itemdoc #content{
    padding-left:20px;
}

.text_review{
	width:750px;
}

.open{
    font-weight:bold;
    color:#346F97;
}

#doc_image{
    padding-left:10px;
    padding-right:10px;
    width:100px;
}
#doc_content{
    text-align:left;
    vertical-align:top;
}

#entry-doc{
    text-align:center;
    margin-top:20px;    
}

