TABLE, TD, IMG{
	padding: 0px;
	border: 0px;
	border-collapse: collapse;
}

A:link{
	color:black;
}
A:visited.main{
	color:black;
}
A:hover{
		color:gree
	 }
A:active{
		color:purple
	 }


FORM{
	#background-color: #FAFAE0;
	border-color: #D2D8A8;
	border-width: 1px;
	border-style: solid;
	padding:10px	
}
FORM label{
	-x-system-font:none;
	color:#767676;
	font-family:normal Verdana,Tahoma,sans-serif;
	font-size:14px;
	font-size-adjust:none;
	font-stretch:normal;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;		
	padding-left:10px;		
}

FORM span{
	-x-system-font:none;
	color:black;
	font-family:normal Verdana,Tahoma,sans-serif;
	font-size:14px;
	font-size-adjust:none;
	font-stretch:normal;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;		
	padding-left:10px;		
}
FORM .errors{
	-x-system-font:none;
	color:#FF6600;
	font-family:normal Verdana,Tahoma,sans-serif;
	font-size:14px;
	font-size-adjust:none;
	font-stretch:normal;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;		
	#padding-left:10px;		
}

FORM input, textarea{
	#background-color: #EBF0BA;
	border-color: #D2D8A8;
	border-width: 1px;
	border-style: solid;
	padding:5px;
	#height: 27px;
	
}

.main{
	width: 1000px;
}
.head{
	width:1000px;
	height: 40px;		
	background-color: #FAFAE0;
	
	border-style: outset;
	border-width: 1px;
	border-color: #D2D8A8;
	border-bottom-style: none;
	
	#background-image: url(images/logo.png) top left no-repeat;
	
}
.mainmenu{
	width: 100%;
	height: 27px;
	background-color: #FAFAE0;
	border-color: #D2D8A8;
	border-style: outset;
	border-width: 1px;
	border-top-style: none;
	border-bottom-style: none;	
}
.mainmenu .menu_button{
	#background-image: url(images/button.png);
	background: url(images/button_bg.png) repeat-x ;
	#width: 124px;
	height: 27px;
	border-color: #FAFAE0;
	border-style: inset;
	border-width: 2px;
	border-top-style: none;
	border-bottom-style: none;
	border-collapse: separate;
}

.mainmenu .menu_button_event{
	#background-image: url(images/button_event.png);
	background: url(images/button_bg_event.png) repeat-x;
	#width: 124px;
	height: 27px;
	border-color: #FAFAE0;
	border-style: inset;
	border-width: 2px;
	border-top-style: none;
	border-bottom-style: none;
	border-collapse: separate;

}
.mainmenu A, .rightmenu .point A{
	padding: 5px;
	padding-left: 32px;
	padding-right: 10px;
	text-align: center;
	color: black;
	text-decoration: none;
	font-weight: bold;
	font-family: verdana;
	font-size: 11px;
}
#about{
	background: url(images/about.png) 0 0 no-repeat;	
}
#key{
	background: url(images/key.png) 0 0 no-repeat;	
}
#contacts{
	background: url(images/contacts.png) 0 0 no-repeat;	
}
#flaps{
	background: url(images/flaps.png) 0 0 no-repeat;	
}
#demo{
	background: url(images/demo.png) 0 0 no-repeat;	
}
#news{
	background: url(images/news.png) 0 0 no-repeat;	
}
#forum{
	background: url(images/forum.png) 0 0 no-repeat;	
}
#answer{
	background: url(images/answer.png) 0 0 no-repeat;	
}


#docs{
	background: url(images/docs.png) 0 0 no-repeat;	
}


.navigation{
	width: 100%;
	height: 47px;
	background: url(images/navigation_bg.jpg) repeat-x;
	#padding-top: 26px;
	vertical-align: bottom;	
	
	border-color: #D2D8A8;
	border-style: outset;
	border-width: 1px;
	border-top-style: none;
	border-bottom-style: none;
	
}
.navigation .shade{
	background-image: url(images/mainmenu_shade.jpg);
	height: 22px;
	width: 100%;
}

.navigation P{
	padding-top:0px;
	padding-bottom: 0px;
	margin: 0px;
}

.navigation .link_navigation A{
	font-family: verdana;
	font-size: 15px;
	font-weight: bold;
	color: black;
	text-decoration: none;  
}
.navigation .link_navigation{
	#height: 22px;
	padding-left: 5px;
	padding-right: 5px;	
}


.navigation .text_navigation{ 
	#background-image: url(images/navigation_text.gif);
	background-color: white;
	#height: 22px;
	padding-left: 10px;  
	padding-right: 10px;  
 	font-family: verdana;
 	font-size: 15px;
 	font-weight: bold;
}     


.content{
	width: 100%;
	#height: 500px;
}
.content .maincontent{
	width: 85%;
	vertical-align: top;
	padding-top: 10px;
}
.content .maincontent TABLE{
	width:  99%;
}


.content .maincontent .maincontent_head{
	background: url('images/maincontent_head.jpg') top left repeat-x;
	width: 97%;
	height: 31px;
	margin-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	
	border-color: #E8EDC2; 
	border-style: outset;
	border-width: 1px;
	border-bottom-style: none;	
}
.content .maincontent .main{
	width: 97%;	
	#margin-right: 20px;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 100px;
	height: 300px;
	background-color: #FFFEF9;	
	
	border-color: #D2D8A8 ;
	border-style: ridge;
	border-width: 1px;	
	border-top-style: none;
	
	font-family: Century Gothic;
	font-size: 13px;
	vertical-align:top;
}
h2.entry-title {
	-x-system-font:none;
	color:#767676;
	font-family:normal Verdana,Tahoma,sans-serif;
	font-size:2.167em;
	font-size-adjust:none;
	font-stretch:normal;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:118%;
	margin-bottom:20px;
	padding-left:35px;
	padding-right:30px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
}
h2.entry-title-help {
	-x-system-font:none;
	color:#767676;
	font-family:normal Verdana,Tahoma,sans-serif;
	font-size:0.9em;
	font-size-adjust:none;
	font-stretch:normal;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:118%;
	margin-bottom:20px;
	padding-left:0px;
	padding-right:30px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.entry-title A{
	color: #767676;
	text-decoration: none;
}

h2.load-title A {
	-x-system-font:none;
	color:#767676;
	font-family:normal Verdana,Tahoma,sans-serif;
	font-size:15px;
	font-size-adjust:none;
	font-stretch:normal;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:118%;
}

h2.review-title  {
	-x-system-font:none;
	color:#767676;
	font-family:normal Verdana,Tahoma,sans-serif;
	font-size:15px;
	font-size-adjust:none;
	font-stretch:normal;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:118%;
}

.doc_ul A{
    font-weight:bold;
    color:#346F97;
}

.itemdoc A{
	-x-system-font:none;	    
	font-family:normal Verdana,Tahoma,sans-serif;
	font-size:15px;
	font-size-adjust:none;
	font-stretch:normal;
	font-style:normal;
	font-variant:normal;	
	line-height:118%;
    font-weight:bold;
    color:#346F97;
}

.itemdoc A:visited{
	color:#969696;    
}
.itemdoc A:hover{
	text-decoration: none;
    color:#346F97;
}

.text_review{
	width:750px;
}

.open{
    font-weight:bold;
    color:#346F97;
}




.content .rightmenu{
	width: 150px;
	vertical-align: top;
	padding-top: 10px;
}
.rightmenu TABLE{
	width: 100%;
	padding-right: 0px;
	
}


.rightmenu DIV{
	width: 100%;
	padding-right: 0px;
	
}

.rightmenu .open{
    font-weight:bold;
    color:#346F97;
    font-size:0.8em;
}
.rightmenu .open:visited{    
    color:#969696;    
}
.rightmenu .open:hover{    
    color:#346F97;
}

.rightmenu #accordion{
	height: 100%
}

.last_news{
	color:#333333;
	font-family:normal Verdana,Tahoma,sans-serif;	
	font-size: 12px;
}
.last_news A{
	color:#767676;
	font-size: 15px;
	margin-top:10px;
}
.last_news H6{
	color:#767676;
	font-size: 15px;
	margin-top:10px;
}


.content .rightmenu .right_menu_point{
	vertical-align: top;
	width: 100%;
}
.rightmenu .point{
	background: url(images/button_bg.png) repeat-x;
	#width: 124px;
	height: 27px;
	border-color: #D2D8A8;
	border-left-style: ridge;
	border-right-style: ridge;
	border-width: 1px;
	font-size: 9px;
	margin-left: 0px;
	vertical-align: middle;		
		
}

.rightmenu ul{
	list-style-type: none;
	padding-left: 10px;
	cursor: pointer;
	color:#767676;
	font-family:normal Verdana,Tahoma,sans-serif;
	font-size:1.067em;
	font-size-adjust:none;
	font-stretch:normal;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
}



.under{
	padding-top: 100px;
}
#BottomBackground {
	background-image:url(images/BottomBackground.jpg);
	float:left;
	height:45px;
	width:1000px;
}
#TextBottomLeft {
	float:left;
	font-family:"Trebuchet MS",Arial,Helvetica,sans-serif;
	font-size:12px;
	margin:5px 10px;
	text-align:left;
}
#TextBottomRight {
	float:right;
	font-family:"Trebuchet MS",Arial,Helvetica,sans-serif;
	font-size:12px;
	margin:5px 10px;
	text-align:right;
	width:410px;
}
#BlockBottomRight {
	float:right;
	font-family:"Trebuchet MS",Arial,Helvetica,sans-serif;
	font-size:12px;
	margin-bottom:5px;
	margin-left:10px;
	text-align:left;
	width:200px;
}
#CountBottomLeft {
	float:left;
	font-family:"Trebuchet MS",Arial,Helvetica,sans-serif;
	font-size:12px;
	margin-bottom:5px;
	margin-left:5px;
	margin-right:5px;
	text-align:left;
	width:88px;
}
#BlockBottomRight {
	font-family:"Trebuchet MS",Arial,Helvetica,sans-serif;
	font-size:12px;
	text-align:left;
}


#BottomImage {
	background-image:url(images/BottomImage.jpg);
	float:left;
	height:21px;
	width:1000px;
	color:  white;
	font-family:"Trebuchet MS",Arial,Helvetica,sans-serif;
	font-size:12px;
	font-weight: bold;
	#padding-left: 5px;
}

#auth{
	-x-system-font:none;
	color:#333333;
	font-family:normal Verdana,Tahoma,sans-serif;
	font-size:15px;	
	font-weight:bold;
	border-color: #D2D8A8;
	border-style: solid;	
	border-width: 1px;
	#background-color: #FAFAE0;
	text-decoration: none;	
}


.pagination{
	text-align: center;
	margin-top:20px;
}

#dialog{
    #background: #FFFEF9;
    border-style: solid;
    border-width: 1px;
    text-align:center;
    border-color: #D2D8A8;
    padding: 5px;    
}

#doc_image{
    padding-left:10px;
    padding-right:10px;
    width:auto;
}
#doc_content{
    text-align:left;
    vertical-align:top;
}

