{% extends "base.html" %}
{% block title %}Добро пожаловать : {% endblock %}
{% block title_page %} - Активация{% endblock %}
{% block maincontent %}
<div class="good">
<h1>Активация  прошла успешно</h1>
Спасибо за уделённое время. Теперь Ваш аккаунт активен<br/><br/>
</div>
{% endblock %} 
 
