{% extends "base.html" %}
{% block title %}Регистрация завершена : {% endblock %}
{% block title_page %} - Регистрация  завершена{% endblock %}
{% block maincontent %}
<div class="good">
<h1>Регистрация  завершена</h1>
Спасибо за уделённое время. На ваш e-mail отправлен 
код подтверждения. Необходимо подтвердить регистрацию, 
просто кликнув по указанной ссылке.<br/><br/>
</div>
{% endblock %} 
