{% extends "base.html" %}
{% load i18n %}
{% block title %}{% endblock %}
<link rel="alternate" type="application/rss+xml" title="{% trans "All Latest Posts via RSS" %}" href="{% url forum_index %}rss/" />
<link rel="alternate" type="application/atom+xml" title="{% trans "All Latest Posts via ATOM" %}" href="{% url forum_index %}atom/" />
{% block extendethead %}
<link href="{{ MEDIA_URL }}styles/forum/style.css" rel="stylesheet" type="text/css" />
{% block extrahead %}{% endblock %}
{% endblock %}
<style type='text/css'><!--
body {
    font-family: Verdana;
    font-size: 10px;
    text-align: center;
}

#djangoForumBody {
    width: 90%;
    margin: 0 auto;
    text-align: left;
}

#djangoForumList,
#djangoForumThreadList,
#djangoForumThreadPosts {
    border-collapse: collapse;
    width: 100%;
}

#djangoForumList td,
#djangoForumThreadList td,
#djangoForumThreadPosts td {
    border: solid #777 1px;
    padding: 6px;
}

#djangoForumList .djangoForumListDetails {
    width: 70%;
}

#djangoForumList .djangoForumListDetails strong {
    font-size: 120%;
}

#djangoForumList .djangoForumListDetails .djangoForumStats {
    font-size: 80%;
}

.djangoForumListLastPost,
.djangoForumThreadLastPost {
    background-color: #ccc;
    border-bottom: solid #777 1px;
}

#djangoForumList th,
#djangoForumThreadList th,
#djangoForumThreadPosts th {
    background-color: #3a3;
    border: solid #777 1px;
    color: #fff;
    text-align: left;
    padding: 4px;
}

#djangoForumThreadPosts th {
    width: 20%;
}

#djangoForumBreadcrumbs {
    padding: 20px;
}

#djangoForumBody label {
    font-size: 110%;
    font-weight: bold;
    display: block;
    padding: 4px;
}

#djangoForumThreadPostDetail {
    width: 20%;
}
.djangoForumPagination {
    display: inline;
}
--></style>
{% block pagetitle %}{% trans "Welcome to the Forums" %}{% endblock %}
{% block navigation %}
<p>
<span class="link_navigation"><a href="{% url about %}" class="">{% trans "Главная->" noop %}</a></span>
<span class="link_navigation"><a href="{% url forum_index %}" class="">{% trans "Форум->" noop %}</a></span>
{% block breadcrumbs %}{% endblock %}
</p>
{% endblock %}
{% block maincontent %}
	{% if user.is_autentificated %}
	<a href="{% url auth_logout %}" id="auth">Выйти</a>
	{% else %}
	<a href="{% url auth_login %}" id="auth">Войти</a>&nbsp;<a href="{% url registration_register %}" id="auth" >Зарегистрироваться</a>
	{% endif %}
	{% block content %}{% endblock %}
{% endblock %}
{% block rightcontent %}{% endblock %}
